<html>
<title>

</title>
    <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">

<body>

<div class="text-center">
     <div>
    <h4>Total notes amount is : {{notes_amount}}</h4>
</div>
<form enctype="multipart/form-data" id='main_form' action="" method="post">
           {{ form.as_p }}
           {{form.media }}
    {% csrf_token %}

    <button name='add_note' class='btn btn-success'>Add note.</button>


</form>

 </div>



<script>
    $(function() {
        AjaxUploadWidget.autoDiscover();
    });
</script>

</body>
</html>