<html>
<title>

</title>
    <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">


<body>

<!--<script src="http://ajax.googleapis.com/ajax/libs/jquery/1.10.1/jquery.min.js"></script>-->
<div class="text-center">
     <div>
    <h4>Total notes amount is : {{notes_amount}}</h4>
</div>
<form enctype="multipart/form-data" id='main_form' action="" method="post">
           {{ form.as_p }}
           {{form.media }}
    {% csrf_token %}

    <button name='add_note' class='btn btn-success'>Add note.</button>
</form>

 </div>
</body>
<link href="{{ STATIC_URL }}ajax_upload/css/ajax-upload-widget.css" rel="stylesheet" type="text/css"/>
<script src="{{ STATIC_URL }}ajax_upload/js/jquery.iframe-transport.js"></script>
<script src="{{ STATIC_URL }}ajax_upload/js/ajax-upload-widget.js"></script>


<script>
    $(function() {
        AjaxUploadWidget.autoDiscover();
    });
</script>
</html>