<!DOCTYPE html>
<html>
<head>
    {% load static %}
    {% load render_tag %}
    <title>List task</title>
    <link href="{{STATIC_URL}}css/bootstrap.css" rel="stylesheet">
</head>
<body>
{{MEDIA_ROOT}}
<h1 class="text-center">hello cruel world</h1>
<div class="container">
    <div>
    <h4>Total notes amount is : {{notes_amount}}</h4>
</div>
    <div class="text-center">

        <h3>Custom tag example:</h3>
        {%get_note notes id=2 %}
    </div>

{% for item in notes %}
<div class="row">

    <div class="span8"><h2>{{item.name}}</h2>
        <h3>{{item.value}}</h3>
        {% if item.image %}<img src="{{ item.image.url }}">{%endif%}
    </div>
    </div>
{% endfor %}
    <div>
        <br>
    <form id='add_new_note' action="create_note/">
        <button class="btn btn-success">Add new note</button>
    </form>
        </br>
        </div>
</div>

</body>
</html>